[submodule "modules/abs"]
	path = modules/abs
	url = https://github.com/axelor/axelor-business-suite.git
[submodule "modules/axelor-process-studio"]
	path = modules/axelor-process-studio
	url = https://github.com/axelor/axelor-process-studio.git
